<section id="vootnavbar">
    <article>
        <div class="logoBlock">
            <a class="jss72 jss10 jss80" title="Voot" href="/"><img src="/images/Voot-Logo.svg" alt="logo" title="Voot"></a>
            <img src="/images/upgrade-line.svg" alt="Voot Upgrade" title="Upgrade" class="jss22">
            <button class="upgrade-btn">Upgrade</button>
        </div>
        <div class="menuBlock">
            <ul>
                <li class="hover"><a href="">My Voot</a></li>
                <li class="hover"><a href="">Premium</a></li>
                <li class="hover"><a href="">Sports</a></li>
                <li class="hover"><a href="">Shows</a></li>
                <li class="hover"><a href="http://localhost:5000/movies/get-movies">Movies</a></li>
                <li class="hover"><a href="">Channels</a></li>
                <form action="/movies/search" method="post">
                    <input id="searchM" type="search" placeholder="search the movies" name="movie_tiitle">
                </form>
                {{!-- <li><a href=""><img src="/images/icon_search_white.svg" alt="Voot Search Icon"></a></li> --}}
                <li><a href=""><img src="/images/userAvatar.svg" alt="User Avatar"></a></li>
            </ul>
        </div>
    </article>
</section>